@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="overflow: auto;">
    <div class="hidden-xs col-sm-3 col-md-2 col-lg-1">
        <img class="img-responsive" src="~/Content/HuskersLogo.png" />
    </div>
    <div class="col-xs-12 col-sm-offset-1 col-sm-4 col-md-6 col-lg-offset-0 col-lg-10">
        <h2 class="text-center">How we became a TEAM</h2>
    </div>
    <div class="hidden-xs col-sm-4 col-md-3 col-lg-1">
        <img class="img-responsive" src="~/Content/TigersLogo.png" />
    </div>
</div>

<div id="stadium-row" class="row visible-lg-block visible-md-block">
    <div class="col-md-12 col-lg-offset-1 col-lg-10">
        <div class="text-center center-block">
            <div id="stadium">
                <div id="field" class="mowed-grass"></div>
                <div id="in-field"></div>
                <div id="in-field-grass" class="mowed-grass"></div>
                <div id="batting-circle"></div>
                <div id="first-base" class="base">
                    @*<div class="pulse"></div>*@
                    <div class="action-area"></div>
                </div>
                <div id="second-base" class="base">
                    @*<div class="pulse"></div>*@
                    <div class="action-area">
                    </div>
                </div>
                <div id="third-base" class="base">
                    @*<div class="pulse"></div>*@
                    <div class="action-area"></div>
                </div>
                <div id="home-plate">
                    <div class="action-area"></div>
                </div>
                @*<div class="home-plate-pulse pulse"></div>*@
                <div id="base-lines"></div>
                <div id="pitchers-mound"></div>
                <div id="pitchers-plate"></div>
                <div id="first-circle" class="half-circle"></div>
                <div id="second-circle" class="half-circle"></div>
                <div id="third-circle" class="half-circle"></div>
                <div id="batters-box-right" class="batters-box"></div>
                <div id="batters-box-left" class="batters-box"></div>
                <div id="first-base-thing"></div>
            </div>
        </div>
    </div>
</div>
<div class="row visible-xs-block visible-sm-block">
    <div class="col-xs-12">
        <div class="panel panel-default" id="first-base-content">
            <div class="panel-heading">1st Met - 4/17/12</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-12">
                    We first met at Ben's softball game
                </div>
                <a href="~/Content/2012SoftballChampions.jpg">
                    <img src="~/Content/2012SoftballChampions.jpg" class="col-xs-6 visible-xs-block visible-sm-block img-responsive" />
                </a>
            </div>
        </div>
        <div class="panel panel-default" id="second-base-content">
            <div class="panel-heading">1st Date - 7/17/12</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-12">
                    Our first date was to a Lincoln Saltdags baseball game on 7/17/12
                </div>
                <a href="~/Content/FirstDate.jpg">
                    <img src="~/Content/FirstDate.jpg" class="col-xs-6 visible-xs-block visible-sm-block img-responsive" />
                </a>
            </div>
        </div>
        <div class="panel panel-default" id="third-base-content">
            <div class="panel-heading">Got Engaged - 7/22/14</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-12">
                    Ben proposed in the outfield before a Lincoln Saltdogs game
                </div>
                <a href="~/Content/Engaged.jpg">
                    <img src="~/Content/Engaged.jpg" class="col-xs-6 visible-xs-block visible-sm-block img-responsive" />
                </a>
            </div>
        </div>
        <div class="panel panel-default" id="home-plate-content">
            <div class="panel-heading">The Big Day - 6/13/15</div>
            <div class="panel-body">
                <div class="col-xs-6 col-md-12">
                    We will be married at 49ers field in Lincoln NE on 6/13/15 at 8pm
                </div>
                <a href="~/Content/EngagementPhotos/DSC0613.jpg">
                    <img src="~/Content/EngagementPhotos/DSC0613.jpg" class="col-xs-6 visible-xs-block visible-sm-block img-responsive" />
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        window.hasPopovers = false;
        var addPopovers = function () {
            if ($("#stadium").is(":visible") && !window.hasPopovers) {
                // Adding the popovers when not visible causes problems
                window.hasPopovers = true;
                var elements = $(".action-area");
                elements.each(function (i, element) {
                    var popElement = $(element.parentElement);

                    var contentPanelElement = $("#" + popElement.attr("id") + "-content");
                    var headingElement = contentPanelElement.find(".panel-heading");
                    var contentElement = contentPanelElement.find(".panel-body");
                    var title = headingElement.html();
                    var content = contentElement.html();

                    popElement.popover({
                        //container: "#" + popElement.attr("id"),
                        title: title,
                        content: content,
                        placement: "top",
                        html: true,
                        trigger: "click"
                    });
                    popElement.popover("show");
                });
            }
        };
        addPopovers();
        $(window).resize(addPopovers);
    </script>
}
