@{
    ViewBag.Title = "Registry";
}

<h2>Registry</h2>

<div class="row">
    <div class="col-md-5 text-center"><img style="height:100px;" src="~/Content/Target-logo-long.gif" /></div>
    <div class="col-md-5 text-center"><img style="height:100px;" src="~/Content/Dillards-Logo.jpg" /></div>
</div>
<div class="row row-xs-height">
    <div class="col-md-5 text-center"><img style="height:100px;" src="~/Content/Amazon-Logo.jpg" /></div>
    <div class="col-md-5 text-center"><img style="height:100px;" src="~/Content/Lowes_logo.jpg" /></div>
</div>
