@{
    ViewBag.Title = "Registry";
}

<div class="jumbotron">
    <p class="load text-center">Click the logos below to view our registry</p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2 text-center"><a href="http://www.target.com/wedd/registry/ruzhmXeTcky7a4bO6idbsw"><img class="registry-logo" src="~/Content/Target-logo-long.gif" /></a></div>
    <div class="col-md-4 text-center"><a href="http://www.amazon.com/registry/wedding/2YL0O5OJ1FQDT/ref=cm_sw_r_tw_wr_y6ngub1KDZ0T8"><img class="registry-logo" src="~/Content/Amazon-Logo-2.png" /></a></div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2 text-center"><a href="http://www.sears.com/shc/s/GiftRegistryApp?storeId=10153&catalogId=12605#!/landing/registry/900083069547010101"><img class="registry-logo" src="~/Content/SearsLogo.png" /></a></div>
    <div class="col-md-4 text-center"><a href="https://www.dillards.com/registry/ItemList.do?&registryNum=128444213&cm_mmc=TransactionEmail-_-WeddingRegistry-_-V1Body-_-WeddingRegistryCheck"><img class="registry-logo" src="~/Content/Dillards-Logo.jpg" /></a></div>
</div>
