body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.fullscreen {
    height: 90%; /* Fallback for old browsers */
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
}

.registry-logo {
    width: 300px;
    padding-bottom: 50px;
}


/* Arrows for jssor image gallary prev/next icons*/
.next,
.prev {
    color: #CCC;
    display: inline-block;
    font: normal bold 2em Arial,sans-serif;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.3;
}

.next {
    text-align: right;
}

    .next:before,
    .next:after,
    .prev:before,
    .prev:after {
        background: #CCC;
        -moz-border-radius: 0.125em;
        -webkit-border-radius: 0.125em;
        border-radius: 0.125em;
        content: "";
        display: block;
        height: 4px;
        position: absolute;
        top: 54%;
        width: 14px;
    }

.prev:before,
.prev:after {
    left: 2px;
}

.next:before,
.next:after {
    right: 2px;
}

.next:before,
.prev:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.next:after,
.prev:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.prev:after,
.next:before {
    margin-top: -8px;
}

.next:hover,
.next:focus,
.prev:hover,
.prev:focus {
    opacity: 1;
}

    .next:hover:before,
    .next:hover:after,
    .next:focus:before,
    .next:focus:after,
    .prev:hover:before,
    .prev:hover:after,
    .prev:focus:before,
    .prev:focus:after {
        opacity: 1;
    }
